In [9]:
import yfinance as yf
import pandas as pd
import investpy as inv

import datetime as dte
from datetime import date

In [10]:
# STOCKS = AÇÕES
br = inv.stocks.get_stocks(country='brazil')
br

,country,name,full_name,isin,currency,symbol
0,brazil,ABC BRASIL PN,Banco ABC Brasil SA,BRABCBACNPR4,BRL,ABCB4
1,brazil,BRASILAGRO ON,BrasilAgro - Co ON NM,BRAGROACNOR7,BRL,AGRO3
2,brazil,RUMO ON NM,RUMO Logistica Operadora Multimodal SA,BRRAILACNOR9,BRL,RAIL3
3,brazil,ALPARGATAS ON,Alpargatas SA,BRALPAACNOR0,BRL,ALPA3
4,brazil,ALPARGATAS PN,Alpargatas SA,BRALPAACNPR7,BRL,ALPA4
...,...,...,...,...,...,...
744,brazil,Integral Brei Reit,Fdo Inv Imob Fof Integral Brei Reit,BRIBFFCTF007,BRL,IBFF11
745,brazil,Vbi Cri,Fi Imobiliario Vbi Cri,BRCVBICTF001,BRL,CVBI11
746,brazil,Hedge Realty,Hedge Realty Devl Fdo Inv Imob Etf,BRHRDFCTF000,BRL,HRDF11
747,brazil,Rb Cap,Rb Cap Desenvolvimento Res Iii Fii,BRRSPDCTF006,BRL,RSPD11
748,brazil,Treecorp,Treecorp Real Estate Fii I Etf,BRTCPFCTF001,BRL,TCPF11

In [ ]:
#br['symbol']

carteira = []
for a in br['symbol']:
    if len(a) <= 5:
        carteira.append(a + '.SA')

In [ ]:
#carteira
#dt_5

dt = date.today() 
dt_5 = dte.date( dt.year - 5, dt.month, dt.day )

datetime.date(2024, 11, 14)

In [21]:
dt = yf.download(carteira, start=dt_5, end=dt)['Adj Close']

[*********************100%***********************]  389 of 389 completed

92 Failed downloads:
['VIVT4.SA', 'PCAR4.SA', 'TESA3.SA', 'MEND5.SA', 'LAME3.SA', 'JBDU2.SA', 'MMXM3.SA', 'VVAR3.SA', 'ELEK3.SA', 'ENAT3.SA', 'CESP3.SA', 'GFSA1.SA', 'CCPR3.SA', 'IDNT3.SA', 'BTTL3.SA', 'LCAM3.SA', 'BSEV3.SA', 'SEDU3.SA', 'CNTO3.SA', 'CSRN3.SA', 'TRPN3.SA', 'EEEL4.SA', 'CEPE5.SA', 'BRML3.SA', 'GNDI3.SA', 'ARZZ3.SA', 'LAME4.SA', 'WIZS3.SA', 'CRDE3.SA', 'TCNO3.SA', 'DTEX3.SA', 'EEEL3.SA', 'APER3.SA', 'TIMP3.SA', 'CELP5.SA', 'TOYB3.SA', 'ALSO3.SA', 'PARD3.SA', 'TIET3.SA', 'IGBR3.SA', 'FRTA3.SA', 'ITEC3.SA', 'OMGE3.SA', 'CELP3.SA', 'PNVL4.SA', 'LLIS3.SA', 'MEND6.SA', 'CELP7.SA', 'CESP5.SA', 'LIQO3.SA', 'JBDU3.SA', 'BBRK3.SA', 'BIDI3.SA', 'CPRE3.SA', 'SMLS3.SA', 'CESP6.SA', 'NATU3.SA', 'JPSA3.SA', 'CARD3.SA', 'TIET2.SA', 'IDVL9.SA', 'IDVL3.SA', 'CELP6.SA', 'TOYB4.SA', 'TIET4.SA', 'JBDU1.SA', 'ENBR3.SA', 'SQIA3.SA', 'CAMB4.SA', 'JBDU4.SA', 'BRDT3.SA', 'IDVL4.SA', 'BIDI4.SA', 'CIEL3.SA', 'BKBR3.SA', 'TCNO4.SA', 'SULA3.SA', 'IGTA3.SA', 'RANI4.SA', 'ELEK4.SA', 'GPCP3.SA', 'MTIG4.SA', 'TCR11.SA', 'BTOW3.SA', 'LINX3.SA', 'HGTX3.SA', 'RLOG3.SA', 'DMMO3.SA', 'SPRI3.SA', 'SULA4.SA', 'CCXC3.SA', 'ELPL3.SA']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

In [23]:
df = pd.DataFrame(dt)
df

Ticker,AALR3.SA,ABCB4.SA,ABEV3.SA,ADHM3.SA,AFLT3.SA,AGRO3.SA,AHEB3.SA,ALPA3.SA,ALPA4.SA,ALSO3.SA,...,VSPT3.SA,VULC3.SA,VVAR3.SA,WEGE3.SA,WHRL3.SA,WHRL4.SA,WIZS3.SA,WLMM3.SA,WLMM4.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2019-11-14 00:00:00+00:00,18.100124,13.130065,14.324626,1.263302,10.838214,10.557876,30.846846,24.767365,28.919945,NaN,...,1.5,5.691910,NaN,13.631917,4.056817,4.761153,NaN,8.290890,9.376312,36.658813
2019-11-18 00:00:00+00:00,18.447250,13.036996,14.414923,1.305133,10.745868,10.526640,30.846846,24.668690,28.515400,NaN,...,1.5,5.612252,NaN,13.650551,3.903060,4.645524,NaN,8.979002,9.529882,35.263176
2019-11-19 00:00:00+00:00,18.447250,13.151543,14.505221,1.271668,10.905376,10.451673,30.846846,24.125978,28.722605,NaN,...,1.5,5.648460,NaN,13.603962,3.879405,4.604714,NaN,8.979002,9.325122,34.704918
2019-11-21 00:00:00+00:00,18.348072,13.201655,14.833578,1.263302,11.375505,10.445425,30.846846,24.668690,29.255419,NaN,...,1.5,5.677427,NaN,13.454877,3.914888,4.665929,NaN,8.979002,9.410439,34.565353
2019-11-22 00:00:00+00:00,18.635691,13.130065,14.932087,1.296767,11.669339,10.432931,30.846846,25.250870,30.419714,NaN,...,1.5,5.742601,NaN,13.538738,4.021335,4.747549,NaN,8.492289,9.273931,35.207348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-07 00:00:00+00:00,14.760000,20.559999,12.550000,NaN,7.580000,23.600000,38.000000,6.470000,7.090000,NaN,...,1.5,16.450001,NaN,55.770000,4.150000,4.420000,NaN,26.817703,29.799475,10.370000
2024-11-08 00:00:00+00:00,14.790000,20.570000,12.330000,NaN,7.580000,23.850000,38.000000,6.330000,6.530000,NaN,...,1.5,16.299999,NaN,55.090000,4.150000,4.400000,NaN,26.817703,29.799475,10.230000
2024-11-11 00:00:00+00:00,14.900000,20.570000,12.510000,NaN,7.580000,23.629999,38.000000,6.290000,6.800000,NaN,...,1.5,16.090000,NaN,55.490002,4.060000,4.280000,NaN,27.000000,30.500000,10.830000
2024-11-12 00:00:00+00:00,14.680000,20.350000,12.580000,NaN,7.210000,23.629999,38.000000,6.140000,6.790000,NaN,...,1.5,16.170000,NaN,55.419998,4.030000,4.220000,NaN,27.000000,29.620001,10.460000
2024-11-13 00:00:00+00:00,14.850000,20.610001,12.730000,NaN,7.210000,23.600000,38.000000,6.100000,6.780000,NaN,...,1.5,16.059999,NaN,54.700001,4.040000,4.170000,NaN,27.000000,29.799999,10.430000